.mainAccordeons {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EAECF7;
    box-shadow: 0 4px 4px 0 #DCE1FB;
    border-radius: 16px;
    padding: 24px;
}

.divQuestionAccordeon:not(:last-child) {
    border-bottom: 2px solid rgb(200, 214, 255);
}

.divQuestionAccordeon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 10px 0;
}

.questionAccordeon {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.answerAccordeon {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
}

.open {
    max-height: 500px;
    /* Vous pouvez ajuster cette valeur selon vos besoins */
}